# SPIRAM increases the size of the firmware, use -Os to reduce it again to fit in iram
CONFIG_COMPILER_OPTIMIZATION_SIZE=y

CONFIG_FLASHMODE_QIO=y
CONFIG_ESPTOOLPY_FLASHFREQ_80M=y
CONFIG_ESPTOOLPY_FLASHSIZE_DETECT=y
CONFIG_ESPTOOLPY_AFTER_NORESET=y


CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y



# LWIP
CONFIG_LWIP_LOCAL_HOSTNAME="LOLIN_D32_PRO"
# end of LWIP